.user-type-button {
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.full-screen-row {
  min-height: 80vh;
}

.vertical-center {
  align-items: center;
}
